body {
    margin: 0;
    padding: 0;
}

.post-card {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 50rem;
    width: 30rem;
    place-items: center;
    margin: 3rem;
    padding: 2rem;  
}















