body {
    margin: 0;
    padding: 0;
}

.event-title {
    text-align: center;
    margin-top: 5rem;
    color: #541b7a;
    font-size: 35px
}

.events {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    flex-wrap: wrap;
    
}

.events-list-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
}

.card {
    margin: 20px;
    margin-top: 50px;
    border-radius: 10px;
    width: 400px;
    padding: 35px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.event-image {
    height: 275px;
    width: 300px;
    margin-top: 1rem;
}

.event__image-header {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

p {
    margin: 0 0 15px;
}

.description {
    text-align: left;
}

.attend-event-btn {
    width: 9.5rem;
    height: 2rem;
    margin: 2rem;
    font-size: 13px;
    background-color: #5151f8;
    border-radius: 10px;
    border-color: #5151f8;
    display: flex;
    /* Helps with icon alignment inside text */
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 1rem;
}

.leave-event-btn {
    width: 11rem;
    height: 2rem;
    margin: 2rem;
    font-size: 13px;
    background-color: #5151f8;
    border-radius: 10px;
    border-color: #5151f8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 1rem;

}

.create-event-btn {
    background-color: #5151f8;
    border-radius: 10px;
    border-color: #5151f8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 2rem;
    width: 8rem;
    margin: auto;
    margin-top: 4rem;
    cursor: pointer;
}

.delete-event-btn {
    color: black;
    /* position: relative; */
    border: none;
    background: none;
    cursor: pointer;
}

.edit-icon {
    color: black;
    /* position: relative; */
    border: none;
    background: none;
    cursor: pointer;
}

.vertical-level-crop {
    width: 3rem;
    height: 2rem;
    margin-top: -0.2rem;
}



