body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.events {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    flex-wrap: wrap;
}

.events-list-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.card {
    margin: 20px;
    margin-top: 50px;
    /* background-color: rgb(13, 200, 237); */
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 400px;
    padding: 15px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

img {
    height: 350px;
    width: auto;
    margin-top: 1rem;
}

.event__image-header {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

p {
    margin: 0 0 15px;
}

.description {
    text-align: left;
}

.attend-event-btn {
    width: 9.5rem;
    height: 2rem;
    margin: 2rem;
    font-size: 13px;
    background-color: #5151f8;
    border-radius: 10px;
    border-color: #5151f8;
    display: flex;
    /* Helps with icon alignment inside text */
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 1rem;
}

.leave-event-btn {
    width: 11rem;
    height: 2rem;
    margin: 2rem;
    font-size: 13px;
    background-color: #5151f8;
    border-radius: 10px;
    border-color: #5151f8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 1rem;

}

.create-event-btn {
    background-color: #5151f8;
    border-radius: 200px;
    border-color: #5151f8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    height: 2rem;
    width: 8rem;
    margin-left: 2.7rem;
    margin-top: 4rem;
    font-weight: bold;
}

.delete-event-btn {
    color: black;
    float: right;
    margin-right: 1rem;
}

.edit-icon {
    color: black;
    float: left;
    margin-left: 1rem;
}



