body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.events {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    flex-wrap: wrap;
}

.events-list-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.card {
    margin: 20px;
    margin-top: 50px;
    background-color: rgb(13, 200, 237);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    padding: 15px;
}

.event__image-header {
    display: flex;
    justify-content: center;
    padding: 20px;
    min-height: 250px;
}

p {
    margin: 0 0 15px;
}

.description {
    text-align: left;
}

.create-event-btn {
    
}