* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo {
    display: flex;
    width: 10rem;
    height: 10rem;
    margin-top: -1rem;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    height: 3rem;
    margin: 2rem;
    margin-right: -5rem;
}

.all_nav_links {
    margin: 2rem;
    padding: 0.5rem;
    list-style-type: none;
    text-align: center;
    text-decoration: none;

}

li, a {
    display: flex;
    text-decoration: none;
    color: #202020;
    font-size: 16px;
    padding: 15px;
    align-items: center;
}
    
a {
  /* color: #18272F; */
  position: relative;
  text-decoration: none;
  padding: 2px;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #9a62aa;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
  }
}
.log-out-btn {
    background-color: #5151f8;
    border-radius: 10px;  
    border-color: #5151f8;
    width: 5rem;
    height: 2rem;
    color: white;
    cursor: pointer;
}